---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';	

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle} pageSubtitle="My Astro Learning Blog">
	<h3>New Content!</h3>
</BaseLayout>